// Global variables

// Colors
$prussian-blue: #1d3557;
$honeydew: #f1faee;
$dark-orange: #ff850a;
$deep-pink: #ff3474;
$white: #ffffff;
$black: #4b4b4b;

// Color shades
$lighten: 5;
$darken: 25;


// Fonts
$font-size: 16px;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-lighter: 100;
$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold:700;


// Padding and Margin
$padding: 0.75em;
$margin: 0.75em;


// Borders
$border-width: 1px;
$border-style: solid;
$border-radius: .5em;


// Default line height
$line-height: 1.5;


// Indentation size
$indent: 40px;


// Scroll padding
$scroll-padding: 0;